[default]
project_home=/home/chandrakumarm/instances

[apache]
sa_path=/etc/apache2/sites-available
se_path=/etc/apache2/sites-enabled

[odoo_db]
host=localhost
port=5432
username=admin
password=redhat19

[email]
smtp=smtp.gmail.com
name=Sys Admin
username=axcensa@axcensa.com
password=kqfijtzksnohugku
